@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* MOBILE SCREEN */
body {
  font-family: 'League Spartan', 'Courier New', Courier, monospace;
  font-size: 15px;
  background: url(./images/bg-pattern-top-mobile.svg) no-repeat, url(./images/bg-pattern-bottom-mobile.svg) no-repeat bottom;
  display: flex;
  justify-items: center;
  justify-content: center;
}

main {
  padding: 3rem 1.5rem;
}

/* MARKETING DESCRIPTION */

.description {
  text-align: center;
}

.description h1 {
  font-size: 3rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 1.5rem;
}

.description p {
  font-size: 1.2rem;
  color: var(--dark-grayish-magenta);
  line-height: 1.2;
}

/* STAR RATINGS */

.ratings {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
}

.ratings article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-magenta);
  padding: 1rem;
  margin-top: 1rem;
  border: solid 1px black;
}

.ratings article img {
  margin-bottom: .5rem;
  gap: 0.25rem;
}

.ratings p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

/* REVIEWS */

.reviews_container {
  margin: 3rem 0;
}

.reviews_container article {
  margin: 1rem 0;
  padding: 2rem;
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
}

.reviews_container .profile {
  display: flex;
}

.reviews_container h2 {
  color: var(--white);
  margin-bottom: .5rem;
}

.reviews_container h3 {
  color: var(--soft-pink);
}

.reviews_container .profile img {
  border-radius: 50%;
  width: 2.5rem;
  margin-right: 1.25rem;
}

.reviews_container article p {
  margin-top: 1.25rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--light-grayish-magenta);
  line-height: 1.5rem;
}

/* IPAD MINI LANDSCAPE */

@media (min-width: 1020px) {

  body {
    background: url(./images/bg-pattern-bottom-mobile.svg) no-repeat right bottom;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* MARKETING DESCRIPTION */
  
  .description {
    width: 80%;
    text-align: left;
  }
  
  /* STAR RATINGS */

  .ratings {
    width: 80%;
    margin: 0;
  }

  .ratings article {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ratings article .stars{
    margin-right: 1rem;
  }

  .ratings article img {
    margin-bottom: 0rem;
    margin-right: 0.25rem;
  }

  .rating_2 {
    margin-left: 12%;
  }

  .rating_3 {
    margin-left: 24%;
  }

  /* REVIEWS */

  .reviews_container {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 2rem 0;
  }

  .reviews_container article {
    margin: 1rem 0 0 0;
    padding: 1.5rem;
    height: 95%;
    margin-right: 1rem;
  }

  .reviews_container .reviews_1{
    margin-top: -2rem;
  }
  .reviews_container .reviews_2{
    margin-top: 0.5rem;
  }
  .reviews_container .reviews_3{
    margin-top: 2.5rem;
    margin-right: 0;
  }

}

/* DESKTOP SCREEN AT 1400 PX */

@media (min-width: 1400px) {

  body {
    max-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat, url(./images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    padding: 4rem;
  }

  /* MARKETING DESCRIPTION */
  
  .description {
    width: 70%;
    text-align: left;
  }

  .description h1 {
    width: 70%;
  }
    
  /* REVIEWS */

  .reviews_container {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 2rem 0;
  }

  .reviews_container article {
    margin: 1rem 0 0 0;
    padding: 2rem;
    height: 80%;
    margin-right: 1rem;
  }

  .reviews_container .reviews_1{
    margin-top: 2rem;
  }
  .reviews_container .reviews_2{
    margin-top: 3.2rem;
  }
  .reviews_container .reviews_3{
    margin-top: 4.4rem;
    margin-right: 0;
  }

}

/* DESKTOP AT 1800PX */

@media (min-width: 1800px) {
  
  body {
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat, url(./images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
  }

  main {
    padding: 5rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
  }

  /* MARKETING DESCRIPTION */
  
  .description {
    width: 80%;
    text-align: left;
  }

  .description h1 {
    font-size: 3.5rem;
    width: 90%;
  }

  .description p {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  
  /* STAR RATINGS */

  .ratings {
    width: 60%;
    margin: 0;
  }

  .ratings article {
    padding: 1.8rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ratings article p {
    font-size: 1.4rem;
  }

  .ratings article .stars{
    margin-right: 1rem;
  }

  .ratings article img {
    width: 1.4rem;
    height: auto;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
  }

  .rating_2 {
    margin-left: 33.25%;
  }

  .rating_3 {
    margin-left: 66.5%;
  }
  
  /* REVIEWS */

  .reviews_container {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 2rem 0;
  }

  .reviews_container article {
    margin: 1rem 0 0 0;
    padding: 2rem;
    height: 85%;
    margin-right: 2.5rem;
  }

  .reviews_container article h2{
    font-size: 1.5rem;
  }

  .reviews_container article h3{
    font-size: 1.4rem;
  }

  .reviews_container article p {
    margin-top: 1.25rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grayish-magenta);
    line-height: 1.8rem;
  }

  .reviews_container .profile img {
    border-radius: 50%;
    width: auto;
    height: 3.5rem;
    margin-right: 1.25rem;
  }

  .reviews_container .reviews_1{
    margin-top: 2rem;
  }
  .reviews_container .reviews_2{
    margin-top: 3.2rem;
  }
  .reviews_container .reviews_3{
    margin-top: 4.4rem;
    margin-right: 0;
  }
}
